# Danis 2019 Python supplement
June 1, 2021

Danis, Nick. 2019. [Long-distance major place harmony](https://doi.org/10.1017/S0952675719000307). *Phonology* 36.4. 573-604.

This is intended as a supplement to Danis (2019). This notebook uses the same coded wordlist as the original article ([danis2019-word-list.csv](danis2019-word-list.csv)). Howevever, in the original article, the wordlist was manipulated in Excel to create the 2x2 contingency tables and these were then tested in R. Here, pandas is used to do all the manipulations in a clear and reproducible way, for posterity.

In [1]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as stats
from collections import defaultdict

In [2]:
scipy.__version__

'1.4.1'

## Helper functions

In [3]:
def build_2x2(crosstab, c1, c2):
    '''
    builds a 2x2 contingency table (as a numpy array) from a larger crosstab df
    '''
    target = crosstab.loc[c1,c2]
    c1_other = crosstab.loc[c1,'All'] - target
    c2_other = crosstab.loc['All',c2] - target 
    all_other = crosstab.loc['All','All'] - target - c1_other - c2_other
    obs = np.array([[target, c1_other],[c2_other, all_other]])
    return obs

In [4]:
places = ['lab','dor','cor','labdor']
combos = [(c1, c2) for c1 in places for c2 in places if c1 == c2]
combos.extend([(c1, c2) for c1 in ['labdor'] for c2 in ['lab','dor']])
combos.extend([(c1, c2) for c1 in ['lab','dor'] for c2 in ['labdor']])

def highlight(x):
    '''styler function to highlight relevant cells'''
    color = 'background-color: yellow; font-weight: bold'
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    for x, y in combos:
        df1.loc[x, y] = color
    return df1

## Observed place values for all stop combinations

In [5]:
df = pd.read_csv('danis2019-word-list.csv')

df.sample(5)

,ID,IPA,POS,Alt form,Def,defFr,defDu,defEn,C1 IPA,C2 IPA,...,Homorganic,C1 Manner,C2 Manner,T-D,N-ND,D-ND,KP-K,T-N,T-ND,D-N
122,2282,duŋu,(v.),NaN,"rester, être, se trouver. Blijven, zijn, verbl...","rester, être, se trouver","Blijven, zijn, verblijven",NaN,d,ŋ,...,non-homorganic,D,N,No,No,No,No,No,No,No
329,2722,kɔ̀la̍,(s.),NaN,poule. Hen.,poule,Hen,NaN,k,l,...,non-homorganic,T,other,No,No,No,No,No,No,No
651,3344,sanza,(v.),NaN,"pousser des rejetons (arbres, buissons) ; se m...","pousser des rejetons (arbres, buissons) ; se m...","W ortelscheuten maken, nieuwe loten schieten; ...",NaN,s,nz,...,homorganic,other,other,No,No,No,No,No,No,No
479,3005,mɔ̃yɔ̃,(v.),NaN,"amincir, rétrécir ; s’amincir, se rétrécir, s’...","amincir, rétrécir ; s’amincir, se rétrécir, s’...","Verkleinen, dun maken, nauw maken; dun zijn, s...",NaN,m,y,...,non-homorganic,N,other,No,No,No,No,No,No,No
812,3633,yolo,(v.),NaN,"se trouver, être debout. Zich bevinden, staan.","se trouver, être debout","Zich bevinden, staan",NaN,y,l,...,homorganic,other,other,No,No,No,No,No,No,No

In [6]:
stops = pd.crosstab(df['C1 place'],
                    df['C2 place'],
                    margins=True)
stops.style.apply(highlight,axis=None)

## O/E place values for all stop combinations

In [7]:
obs = stops.to_numpy()
exp = stats.chi2_contingency(stops)[3]
oe_ratios = pd.DataFrame(obs / exp, columns = stops.columns, index=stops.index)
oe_ratios.style.background_gradient(cmap ='hot',axis=None,vmax=1.0)

## Testing individual place combinations

### Results

In [8]:
# this will test all homorganic and semihomorganic place combinations against each other
places = ['lab','dor','cor','labdor']
combos = [(c1, c2) for c1 in places for c2 in places if c1 == c2]
combos.extend([(c1, c2) for c1 in ['labdor'] for c2 in ['lab','dor']])
combos.extend([(c1, c2) for c1 in ['lab','dor'] for c2 in ['labdor']])

comparisons = len(combos)
alpha = 0.05/comparisons

results = defaultdict(list)

for c1, c2 in combos:
    obs = build_2x2(stops,c1,c2)
    fisher_results = stats.fisher_exact(obs)
    chi_results = stats.chi2_contingency(obs)
    results['c1'].append(c1)
    results['c2'].append(c2)
    results['obs'].append(obs[0,0])
    results['exp'].append(chi_results[3][0,0])
    results['fisher p'].append(fisher_results[1])
    results['chi^2 p'].append(chi_results[1])
    results['alpha'].append(alpha)
    
place_results = pd.DataFrame(results)
place_results['o/e'] = place_results['obs'] / place_results['exp'] 
place_results['fisher sig'] = place_results['fisher p'].apply(lambda x: True if x < alpha else False)
place_results['chi^2 sig'] = place_results['chi^2 p'].apply(lambda x: True if x < alpha else False)

print(f"alpha of 0.05 adjusted for {len(combos)} comparisons = {np.round(alpha,4)}")
place_results.style.background_gradient(cmap ='Reds_r',axis=None,vmax=alpha)

alpha of 0.05 adjusted for 8 comparisons = 0.0062

### Words

#### labial-labial

In [9]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'lab') & (df['C2 place'] == 'lab')]

,ID,IPA,POS,Alt form,Def
0,2064,bàbá,(s. voc.),NaN,père ! Vader !
1,2065,’ba’ba,(v.),NaN,"tordre, être tordu. Tot wrong draaien of rolle..."
8,2075,’bama,(v.),NaN,"serrer, pincer. Knijpen, vastknellen."
9,2076,bàmbú,(s.),NaN,ceinture large des mVres aprVs l’enfantement. ...
52,2155,bɔ̀bá,(s. cfr.),NaN,papa ! Vader!
58,2161,’bɔmɔ,(v.),NaN,"serrer, pincer ; être serré, être pincé. Toekn..."
431,2910,mbá’bó-,(s.),mbá’bó kɔ̃̀,", : fosse pour prendre des animaux. Valput voo..."
454,2951,mbɔ́bì,(s.),NaN,: rotin mince dônnant des liens forts. Dunne ...
477,2993,mɔmɔ,(v.),NaN,"rire; se moquer de. Lachen, uitlachen."
478,2994,mɔ̀mù,(s.),màmù ; tè dò mòmù,": éclater de rire. In lach uitbarsten, schate..."
627,3300,pɛpɛ,(v.),NaN,"vanner, activer en faisant du vent. Wannen, aa..."
630,3309,pumbu,(v.),NaN,"être vide, être creux. Loos zijn, ledig zijn."

#### dorsal-dorsal

In [10]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'dor') & (df['C2 place'] == 'dor')]

,ID,IPA,POS,Alt form,Def
159,2380,gàgá,(s.),NaN,culture en saison sVche en terrain marécageux....
160,2381,gàga̍,(s.),NaN,gouttes de rosée. Lekende dauwdroppels. •*
161,2382,ga̍ga̍,(s.),NaN,cornet. Hoornfluitje met slechts een toon.
170,2393,gàŋga̍,(s.),NaN,"crochet, barbillon. Weerhaak."
225,2509,gòkò,(s.),gògò,", = : dent. Tand."
236,2529,gɔ̀ŋgɔ̀,(s.),NaN,#NAME?
269,2608,kàkà,(s.),NaN,ancien couteau Ngbaka à lame et poignée larges...
270,2609,kàkà,(s.),NaN,"arriVre grand-pVre, — grand’mVre. Overgrootvad..."
284,2632,káŋgé,(s.),NaN,"grand serpent ‘jaune vert, vénimeux. Grote gee..."
294,2647,kèŋgè,(s.),NaN,coin (vu de l’exférieur). Hoek (van buiten).
302,2663,kɛ̀ŋgɛ̀,(s.),NaN,"coin pour fendre le bois. Wig, spie."
312,2683,kòkò,(s.),NaN,tortue d’eau. Waterschildpad.
323,2698,kòŋgò,"(s., cfr.)",ŋgo’be,: milan. Wouw.
324,2699,kóŋgò,(s.),NaN,houe. Hak.
335,2728,kɔ̀ŋgɔ̀,(s.),NaN,case rectangulaire avec toit en deux penchants...
369,2803,kùkà,(s.),NaN,grand arbre a bois brun dur. Grote boom met ha...
386,2823,kùŋgu̍,(s.),NaN,crochet. Haak.
579,3205,ŋgaka,(v.),NaN,"durcir (de fruits ou légumes). Taai ■—-, hard ..."
585,3213,ŋga̍ŋga̍,(s.),NaN,petite saison sèche. Klein drooggetijde.
586,3214,ŋgàŋgà,(s. r.),NaN,"rudesse, grossièreté. Ruwheid, barse grootdoen..."
587,3216,ŋgáŋge̍,(s.),NaN,rouille. Roest.
601,3238,ŋgòko̍,(s.),NaN,"matière purulente durcie, croûte de blessure. ..."
605,3242,ŋgóŋgò,(s. étr.),NaN,bambou. Bamboe.
609,3250,ŋgùkú,(s.),NaN,boîte ronde en. écorce. Doos uit boomschors.
613,3255,ŋgùŋge̍,(s.),NaN,buisson à écorce ■ fibreuse ; liens d’écorce n...
872,2610,kàkɔ̀ã́,(s.),NaN,calao (— moyen). Neushoqrnvogel (middelgrote s...

#### coronal-coronal

In [11]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'cor') & (df['C2 place'] == 'cor')]

,ID,IPA,POS,Alt form,Def
79,2199,dànì,(s.),NaN,"plaie, blessure. Wonde, kwetsuur."
110,2264,dɔ̀ndɔ̀,(s.),NaN,"surface glissante. Gladheid, glibberigheid."
111,2266,dɔ̀nɔ̀,(s.),NaN,"marteau. Hamer, vroeger: Zang ijzer dikker aan..."
119,2279,dunu,(v.),NaN,être rempli ; remplir. Vol zijn; vullen.
128,2295,’dɛnɛ,(v.),NaN,"buter contre, donner des coups de poing, — de ..."
129,2302,’dò’dò-,(s.),NaN,testicules. Teelballen.
130,2303,’dó’dó,(s.),NaN,maladie des cheveux et de la peau. Huid- en ha...
135,2315,’du̍’du̍,(s.),NaN,pian au pied. Pian- wond£ aan de voetzool.
490,3031,ndànà,(s.),NaN,mal aux reins. Lendenpijn.
496,3041,ndɛ̀ndɛ̀,(s.),NaN,fougères. Varenplanten.
503,3056,ndòndo̍,(s.),NaN,: petite râle de forêt marécageuse. Kleine bo...
508,3066,ndɔ̀ti̍,(s.),NaN,"fin, terme. Einde (plaats en tijd)."
513,3073,ndù’dì,(s.),NaN,: grosbec à poitrine rouge et ventre noir poi...
520,3097,nɔnɔ,(v.),NaN,gratter. Krabben.
702,3435,tà’da̍,(s.),NaN,espèce de vigne sauvage à tiges articulées cas...
709,3449,tana,(v.),NaN,"trembler. Beven, bibberen; doen beven."
710,3450,ta̍na̍,(s.),NaN,tortue. Schildpad.
711,3451,tanda,(v.),NaN,aveugler ; être aveuglé. Verblinden; verblind ...
712,3452,tàndà,(s.),NaN,"torche, — jadis en bois de tanda. Fakkel, vroe..."
713,3455,tàndu̍,(s.),NaN,cécité. Blindheid.
716,3459,tata,(v.),NaN,"tendre, étendre, étirer ; s’étendre. Uitrekken..."
728,3482,tìnda̍,(s.),NaN,grands termites jaunes de la forêt. Grote bost...
731,3492,to’do,(v.),NaN,"transverser, dé' canter, verser. Overgieten, a..."
743,3517,tɔndɔ,(v.),NaN,"soutenir, supporter. Schragen, ondersteunen."
750,3530,tunu,(v.),NaN,"éveiller ; se réveiller, revenir à la vie. Wek..."
868,2198,dándèà,(s.),NaN,petite hirondelle noire. Gewone zwarte holenz...
869,2285,dúu̍dú,(s.),NaN,espVce de grand coucou à éperon. Grote spoork...
876,3048,ndìtɔ̀à,(s.),NaN,souris des cases. Huismuis (Mastomys).

#### labial-dorsal - labial-dorsal

In [12]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'labdor') & (df['C2 place'] == 'labdor')]

,ID,IPA,POS,Alt form,Def
173,2412,gbàgbà,(s.),NaN,pont. Brug.
174,2413,gbágbà,(s.),NaN,clôture en pieux ou claies. Afsluiting uit sta...
175,2414,gbàgbá,(s.),NaN,claie de lattes de rachis de palmier ; lattes ...
188,2435,gbàŋbà,(s.),NaN,piVge avec poids écrasant l’animal ou fermant ...
204,2466,gbo̍ŋbo̍,(s.),NaN,rigole. Geul.
205,2468,gbɔ̀gbɔ̀,(s.),NaN,lion. Leeuw.
358,2781,kpòŋbò,(s.),NaN,tabouret indigène. Stoeltje zonder leuning' - ...
359,2785,kpɔ̀kpɔ̀,(s.),NaN,chaussures. Schoeisel.
558,3162,ŋbàŋbò,(s. étr.),NaN,bâton de portage. Draagstok.
566,3175,ŋbéŋbé,(s.),NaN,grelot. Belletje uit samengeplooid ijzeren pla...
573,3190,ŋboŋbo,(v. r.),NaN,"amasser, rassembler ; concourir. Samenhopen; s..."

#### labial-dorsal - labial

In [13]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'labdor') & (df['C2 place'] == 'lab')]

,ID,IPA,POS,Alt form,Def
203,2465,gbòmbè,(s.),NaN,"marabout. Mara- boet, kropooivaar."
556,3160,ŋbámù,(s.),NaN,antilope huppée à raie dorsale noire. Rugstree...

#### labial-dorsal - dorsal

In [14]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'labdor') & (df['C2 place'] == 'dor')]

,ID,IPA,POS,Alt form,Def
176,2416,gbaka,(v.),NaN,"aider, secourir. Helpen."
177,2419,gbákɔ̍-,(s.),NaN,"branche d’arbre. Tak, vertakking van boom."
187,2434,gbaŋa,(v.),NaN,s’effrayer ; survenir à l’improviste. Verschie...
189,2436,gbàŋgà,(s.),NaN,"battant de porte, panneau d’écorce ou de planc..."
346,2756,kpáŋgà,(s. étr.),NaN,pain de manioc. Maniokbrood; gekookte maniok- ...
349,2765,kpɛ̀kà,(s.),NaN,bistouri pour tatouage. Tatoeëermesje.
350,2766,kpɛ̀kà,"(s., cfr.)",pɛ̀tɛ́kɛ̀lɛ̍,: déclic ■d'un piège. Springstokje van strop.
352,2769,kpɛ̀ŋga̍,(s.),NaN,"lame —, fer d’arme ou d'outil sans manche.. Ij..."
552,3155,ŋbàkà,(s.),NaN,"Ngbaka, peuple ■—, langue Ngbaka. Ngbaka (man)..."
559,3164,ŋbàŋgà,(s. étr.),NaN,"palabre, cause, litige. Geschil, zaak."
560,3165,ŋbàŋgá-,(s.),ŋbàŋgá wi̍,", : meneur de combat ; batailleur. Voorvechter..."
570,3187,ŋbókó-,(s.),ŋbókó zu̍ gòlò wi̍,",: mal au genou. Gezwel aan knie."
575,3198,ŋbùŋgà,(s.),ŋbuŋga bili,", : corde principale d’un piège. Koord die st..."

#### labial - labial-dorsal

In [15]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'lab') & (df['C2 place'] == 'labdor')]

Empty DataFrame
Columns: [ID, IPA, POS, Alt form, Def]
Index: []

#### dorsal - labial-dorsal

In [16]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['C1 place'] == 'dor') & (df['C2 place'] == 'labdor')]

,ID,IPA,POS,Alt form,Def
385,2822,ku̍ŋba̍,(s.),NaN,gros mortier pour piler le maïs. Brede en lage...

## Voicing and Manner restrictions

Definitions:

- **T-D**: voiceless and voiced stop combinations
- **N-ND**: nasal and prenasalized stop combinations
- **D-ND**: oral and prenasalized stop combinations

For all, order is irrelevant.

### Voicing Agreement

In [17]:
voicing = pd.crosstab(df['Homorganic'],
                    df['T-D'])

voicing

T-D              No  Yes
Homorganic
homorganic      203    1
non-homorganic  654   22

The one observed token for a homorganic pair that disagrees in voicing is shown below. It has an alternate pronunciation ('Alt form') that does agree in voicing. Stats are run for both forms. The published paper includes the alt form in the main statistics, but notes that this was an alternate form. As will be shown, both results are significant with an unadjusted alpha of 0.05, but only the alt form is significant if alpha is adjusted for the three tests (voicing and two nasal restrictions).

In [18]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['T-D'] == 'Yes') & (df['Homorganic'] == 'homorganic')]

       ID     IPA   POS Alt form                 Def
225  2509  gòkò  (s.)   gògò  , =  : dent. Tand.

In [19]:
# cosntruct the alt form 2x2
voicing_alt = voicing.copy()
# remove a count from homorganic + T-D=Yes
voicing_alt.iloc[0,1] = 0
# add a count to homorganic + T-D=No
voicing_alt.iloc[0,0] += 1

voicing_alt

T-D              No  Yes
Homorganic
homorganic      204    0
non-homorganic  654   22

### Nasal Agreement

In [20]:
nasality = pd.crosstab(df['Homorganic'],
                    df['N-ND'])

nasality

N-ND             No  Yes
Homorganic
homorganic      203    1
non-homorganic  667    9

In [21]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['N-ND'] == 'Yes') & (df['Homorganic'] == 'homorganic')]

       ID    IPA   POS Alt form                         Def
490  3031  ndànà  (s.)      NaN  mal aux reins. Lendenpijn.

In [22]:
prenasality = pd.crosstab(df['Homorganic'],
                    df['D-ND'])

prenasality

D-ND             No  Yes
Homorganic
homorganic      196    8
non-homorganic  653   23

In [23]:
df[['ID','IPA','POS','Alt form','Def']].loc[(df['D-ND'] == 'Yes') & (df['Homorganic'] == 'homorganic')]

,ID,IPA,POS,Alt form,Def
9,2076,bàmbú,(s.),NaN,ceinture large des mVres aprVs l’enfantement. ...
110,2264,dɔ̀ndɔ̀,(s.),NaN,"surface glissante. Gladheid, glibberigheid."
170,2393,gàŋga̍,(s.),NaN,"crochet, barbillon. Weerhaak."
188,2435,gbàŋbà,(s.),NaN,piVge avec poids écrasant l’animal ou fermant ...
204,2466,gbo̍ŋbo̍,(s.),NaN,rigole. Geul.
236,2529,gɔ̀ŋgɔ̀,(s.),NaN,#NAME?
454,2951,mbɔ́bì,(s.),NaN,: rotin mince dônnant des liens forts. Dunne ...
868,2198,dándèà,(s.),NaN,petite hirondelle noire. Gewone zwarte holenz...

### Results

In [24]:
# this will test all homorganic and semihomorganic place combinations against each other
voi_nas_combos = {'Voicing Agreement' : voicing, 
                  'Voicing Agreement (alt)' : voicing_alt,
                  'N-ND Agreement' : nasality, 
                  'D-ND Agreement' : prenasality}

comparisons = len(voi_nas_combos) - 1
alpha = 0.05/comparisons

results = defaultdict(list)

for name, table in voi_nas_combos.items():
    obs = table.to_numpy()
    fisher_results = stats.fisher_exact(obs)
    chi_results = stats.chi2_contingency(obs)
    results['restriction'].append(name)
    results['obs'].append(obs[0,1])
    results['exp'].append(chi_results[3][0,1])
    results['fisher p'].append(fisher_results[1])
    results['chi^2 p'].append(chi_results[1])
    results['alpha'].append(alpha)
    
voi_nas_results = pd.DataFrame(results)
voi_nas_results['o/e'] = voi_nas_results['obs'] / voi_nas_results['exp'] 
voi_nas_results['fisher sig'] = voi_nas_results['fisher p'].apply(lambda x: True if x < alpha else False)
voi_nas_results['chi^2 sig'] = voi_nas_results['chi^2 p'].apply(lambda x: True if x < alpha else False)

print(f"alpha of 0.05 adjusted for {len(combos)} comparisons = {np.round(alpha,4)}")
voi_nas_results.style.background_gradient(cmap ='Reds_r',axis=None,vmax=alpha)

alpha of 0.05 adjusted for 8 comparisons = 0.0167